.btn {
    width: 100%;
    border: 3px solid #000;
    background: none;
    aspect-ratio: 1/1;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    padding: 1rem 0em;
    transition: all 0.15s ease;
    text-align: center;
}

.btn:hover:not(:disabled),.btn:focus:not(:disabled) {
    background: #555;
    color: #fff;
}

.btn.active {
    transform: scale(0.9);
    background: #333;
    color: #fff;
}

.btn.inactive{
    opacity: 0.5;
}